<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YurtKayıtSistemi.Properties.Settings.DbYurtOtomasyonConnectionString"
            connectionString="Data Source=DESKTOP-MV2GLCC\SQLEXPRESS;Initial Catalog=DbYurtOtomasyon;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>